<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>citem0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,306},{146,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{146,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>citem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,306},{146,144}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{146,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>citem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,164},{158,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>citem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{158,160}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>citem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,164},{158,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>citem5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,160}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>citem6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,164},{158,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>citem7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,160}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>citem8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{158,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>citem9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,160}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{154,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,318},{154,156}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,160},{154,156}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{154,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,318},{154,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem5.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,160},{154,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem6.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{154,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem7.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,318},{154,156}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem8.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,160},{154,156}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ritem9.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{154,156}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{168,150}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{168,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,154},{166,150}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{166,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,2},{166,150}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{166,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,160},{168,150}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{168,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,154},{166,150}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{166,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,312},{166,150}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,35},{166,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem6.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,326},{168,150}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{168,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,326},{168,150}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{168,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,326},{168,150}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{168,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>titem9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{168,150}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{168,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>numFrame.png</string>
            <key>size</key>
            <string>{1622,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:209974210a793884dae6218c6645595e:246c5b2fed39eac63aca7fb72f1cf80c:dd617e74f219631946d44ecbe4003590$</string>
            <key>textureFileName</key>
            <string>numFrame.png</string>
        </dict>
    </dict>
</plist>
